//
// Alterações globais
//
@import "primeicons/primeicons.css";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  // box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
    display: flex;
}
// ==================
// Barra lateral
// ==================
.sidebar{
    z-index: 10;
    min-width: 14rem;
    height: 100vh;
    transform: translateX(0px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.sidebar-tittle{
    background-image: linear-gradient(#e5c281, #f3670c);
    width: 100%;
}

.sidebar-tittle h2{
    font-size: 1.6rem !important;
}

.sidebar-tittle h2{
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 0.5rem;
}

.slaca-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slaca{
    max-width: 100%;
    margin: 5px auto;
}

.nav-item{
    transition: background-color 0.25s;
    border-bottom: 1.7px solid rgba(51, 51, 51, 0.1);
}

.nav-text-div{
    display: flex;
    height: 1.9rem;
    align-items: center;
    gap: 3px;
}

.nav a{
    text-decoration: none;
    color: #333;
    margin-left: 2rem;
}

.side-colorbar{
    width: 3px;
    height: 1.9rem;
    background-image: linear-gradient(#e5c281, #f3670c);
}

.nav-item:hover{
    background-color: #f5f0e1;
}
// ==================
// Conteúdo
// ==================
.content{
    // margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    gap: 2rem;
}

.header-background{
    background-color: #fcf3eb;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.header-text{
    // margin-left: 2.2rem;
}

.header-text h1{
    font-weight: 400;
}

.header-language{
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.08);
    padding: 2px 10px;
}

.header-language img{
    width: 25px;
}

.header-language select{
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-language select:focus{
    outline: 0;
    box-shadow: 0 0 0 0.1rem #ec7d3d44;
    border-radius: 10px;
}

.header-account{
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.account-email{
    color: #9f9f9f;
}


.header-image-div img{
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.header-image-div span{
    position: relative;
    bottom: 22px;
    right: 9px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 11px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
}

main{
    // margin-left: 2.4rem;
    max-width: 80vw;
}

.video-tittle{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.video-tittle h2{
    color: #ec7d3d;
    margin: 20px 0;
    width: 70rem;
    font-size: 2rem;
}

.video-tittle-options{
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 8px;
}

.video-tittle-buttons{
    display: flex;
    gap: 0.3rem;
}

.video-tittle-buttons button{
    background-color: #ec7d3d;
    color: white;
    font-size: large;
    padding: 4px 14px;
    border: none;
    border-radius: 3px;
    display: flex;
    gap: 0.4rem;
}

.video-tittle-buttons img{
    width: 20px;
}

.video-tittle-quote{
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ec7d3d;
}

.video-div{
    display: flex;
    justify-content: space-around;
}

.video-div iframe{
    width: 70rem;
    height: 39.38rem;
}

.video-text{
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.video-text h4{
    background-color: #fcf3eb;
    padding: 8px 0.8rem;
    font-size: x-large;
}
.video-content{
    padding: 0.8rem;
    color: #989898;
    overflow-y: scroll;
    height: 29rem;
}

// Scrollbar do menu
.video-content::-webkit-scrollbar {
    width: 5px;
}
.video-content::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}
.video-content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #9f9f9f;
}

.video-info p{
}

.video-info span{
    font-weight: bold;
    color: #6a6a6a;
}

.video-authors{
    margin: 30px 0;
}

.video-authors h5{
    font-size: 20px;
    color: #606060
}

.video-authors p{
    font-size: 17px;
}

.video-description{
    margin-top: 10px;
    color: rgba(152, 152, 152, 0.8);
}

.content-card{
    box-shadow: rgba(0, 0, 0, 0.0) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 2.1rem 0;
    padding-bottom: 0.2rem;
}

.content-card h3{
    background-color: #fcf3eb;
    padding: 5px 13px;
    font-weight: 500;
    font-size: 23px;
}

.content-card p{
    color: #606060;
    font-size: 16px;
}

.summary-text{
    padding: 9px 13px;
}

.create-topic-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.create-topic-items h5{
    color: #ec7d3d;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.create-topic-icons{
    display: flex;
    gap: 2.5rem;
    margin: 1.7rem;
}

.create-topic-items p{
    text-align: center;
    margin: 20px 13px 10px 13px;
}

.create-topic-items button{
    background-image: linear-gradient(#e5c281, #f3670c);
    border: none;
    color: white;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 4px;
    display: flex;
    gap: 0.3rem;
    cursor: pointer;
    margin: 7px 0;
}

.answered-topic{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    margin: 1.2rem 1rem;
    padding: 15px 20px;
}

.ops-topic-subject{
    color: #f3670c;
    font-size: 18px;
    font-weight: 500;
}

.question-author{
    font-size: 14px !important;
}

.question-description{
    margin: 10px 0;
}

.question-options{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.question-options span{
    cursor: pointer;
}

.pi-ellipsis-v{
    color: #f3670c;
}

.pi-heart-fill{
    color: white;
    background-color: #f3670c;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 2px;
}