//
// Alterações globais
//
@import "primeicons/primeicons.css";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  // box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
    display: flex;
}
// ==================
// Barra lateral
// ==================
.sidebar{
    z-index: 10;
    min-width: 17rem;
    height: 100vh;
    transform: translateX(0px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.sidebar-tittle{
    background-image: linear-gradient(#e5c281, #f3670c);
    width: 100%;
}

.sidebar-tittle h2{
    font-size: 2.5rem !important;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 1rem 0;
}

.slaca-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slaca{
    max-width: 100%;
    margin: 5px auto;
}

.nav-item{
    transition: background-color 0.25s;
    border-bottom: 1.7px solid rgba(51, 51, 51, 0.1);
}

.nav-text-div{
    display: flex;
    height: 1.9rem;
    align-items: center;
    gap: 3px;
}

.nav a{
    text-decoration: none;
    color: #333;
    margin-left: 2rem;
}

.side-colorbar{
    width: 3px;
    height: 1.9rem;
    background-image: linear-gradient(#e5c281, #f3670c);
}

.nav-item:hover{
    background-color: #f5f0e1;
}

.sidebar-spacing{
    min-width: 17rem;
    height: 100vh;
}

// ==================
// Conteúdo
// ==================

.content{
    // margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

// ==================
// Cabeçalho
// ==================

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    gap: 2rem;
}

.header-background{
    background-color: #fcf3eb;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.header-text{
    // margin-left: 2.2rem;
}

.header-text h1{
    font-weight: 400;
}

.header-options{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-language{
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.08);
    padding: 2px 10px;
}

.header-language img{
    width: 25px;
}

.header-language select{
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-language select:focus{
    outline: 0;
    box-shadow: 0 0 0 0.1rem #ec7d3d44;
    border-radius: 10px;
}

.header-account{
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.account-email{
    color: #9f9f9f;
}


.header-image-div img{
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.header-image-div span{
    position: relative;
    bottom: 22px;
    right: 9px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 11px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
}

// ==================
// Principal
// ==================

main{
    // margin-left: 2.4rem;
    max-width: 80vw;
}

// ==================
// Título do vídeo
// ==================

.video-tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-tittle h2{
    color: #ec7d3d;
    margin: 20px 0 20px 0rem;
    width: 70rem;
    font-size: 2rem;
}

.video-tittle-options{
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 8px;
    margin-right: 2rem;
}

.video-tittle-buttons{
    display: flex;
    gap: 0.3rem;
}

.video-tittle-buttons a{
    background-color: #ec7d3d;
    color: white;
    font-size: large;
    padding: 6px 14px;
    border: none;
    border-radius: 3px;
    display: flex;
    gap: 0.4rem;
    text-decoration: none;
}

.video-tittle-buttons img{
    width: 20px;
}

.video-tittle-quote{
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ec7d3d;
}

// ==================
// Vídeo e Descrição
// ==================

.video-div{
    display: flex;
    justify-content: space-around;
}

.video-div iframe{
    width: 70rem;
    height: 39.38rem;
}

.video-text{
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 39.38rem;
    overflow-y: scroll;
}

.video-text h4{
    background-color: #fcf3eb;
    padding: 8px 0.8rem;
    font-size: x-large;
}
.video-content{
    padding: 0.8rem;
    color: #989898;
}

// Scrollbar do menu
.video-text::-webkit-scrollbar {
    width: 5px;
}
.video-text::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}
.video-text::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #9f9f9f;
}

.video-info p{
}

.video-info span{
    font-weight: bold;
    color: #6a6a6a;
}

.video-authors{
    margin: 30px 0;
}

.video-authors h5{
    font-size: 20px;
    color: #606060
}

.video-authors p{
    font-size: 17px;
}

.video-description{
    margin-top: 10px;
    color: rgba(152, 152, 152, 0.8);
}

// ==================
// Cofig. Padrão dos blocos
// ==================

.content-card{
    box-shadow: rgba(0, 0, 0, 0.0) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 2.1rem 0;
    padding-bottom: 0.1rem;
}

.content-card h3{
    background-color: #fcf3eb;
    padding: 5px 13px;
    font-weight: 500;
    font-size: 23px;
}

.content-card p{
    color: #727272;
    font-size: 18px;
}

// ==================
// Sessão de Discussões
// ==================

.discussions{
    margin-bottom: 5rem;
}

.summary-text{
    padding: 9px 13px;
}

.summary-text a{
    display: inline;
    text-decoration: none;
    font-size: 20px;
    color: #ec7d3d;
    cursor: pointer;
}

// ==================
// 1a página: Compartilhe suas Ideias!
// ==================

.create-topic-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.create-topic-items h5{
    color: #ec7d3d;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.create-topic-icons{
    display: flex;
    gap: 2.5rem;
    margin: 1.7rem;
}

.create-topic-icons img{
    width: 4rem;
}

.create-topic-items p{
    text-align: center;
    margin: 20px 13px 15px 13px;
    font-size: 19px;
    max-width: 55rem;
}

.create-topic-items a{
    background-image: linear-gradient(#e5c281, #f3670c);
    border: none;
    color: white;
    font-size: 20px;
    padding: 8px 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    margin: 7px 0;
}

.create-topic-dash{
    position: relative;
    width: 78vw;
    height: 0.1rem;
    bottom: 29px;
    z-index: -1;
    border-radius: 2px;
    background-color: #dadada;
}

// ==================
// 2a página: Formulário
// ==================

.topic-form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.topic-form-send-items{
    transition: 0.5s filter;
    width: 98%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-form-tittle{
    text-align: center;
    margin: 20px 13px 15px 13px;
    font-size: 19px;
    max-width: 55rem;
}

.topic-form{
    width: 98%;
    object-fit: contain;
}

.topic-form-input{
    display: flex;
    flex-direction: column;
}

.topic-form-input-div{
    margin: 0.3rem 1rem;
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

.topic-form-input-div label{
    color: #f3670c;
    font-weight: 500;
    font-size: 20px;
}

.topic-form-input-div input, .topic-form-input-div textarea{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.7rem 1.5rem;
    font-size: 18px;
    color: #838383;
}

.topic-form-input-div textarea{
    height: 10rem;
}

.topic-form-input-div input::placeholder{
    color: #a3a3a3;
}

// ==================
// 3a página: Tópico Enviado
// ==================

.send-topic-div{
    display: flex;
    justify-content: right;
    margin: 0 1rem;
    background-color: #eaf1f2;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.send-topic-div button{
    background-image: linear-gradient(#fdaf53, #f2843f);
    color: white;
    font-size: 18px;
    border: none;
    padding: 0.3rem 1rem;
    width: 20%;
    cursor: pointer;
}

.sended-popup{
    margin-top: 1rem;
}

.sended-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    z-index: 10;
}

.sended-message h5{
    color: #f3670c;
    font-size: 25px;
    margin-bottom: 1rem;
}

.sended-message p{
    margin-bottom: 2rem;
}

.sended-popup a{
    color: #f3670c;
    font-size: 18px;
    margin-bottom: 3rem;
}

.create-new-topic{
    background-image: linear-gradient(#fdaf53, #f2843f);
    border: none;
    color: white !important;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0;
    width: 18rem;
    border-radius: 4px;
    gap: 0.3rem;
    cursor: pointer;
    margin: 7px 0;
    z-index: 12;
}

.sended-create-topic-dash{
    position: relative;
    width: 78vw;
    height: 0.1rem;
    bottom: 29px;
    z-index: 11;
    border-radius: 2px;
    background-color: #dadada;
}

.popup-waiting-feedback{
    display: flex;
    position: relative;
}

.example-topic-div{
    background-color: #f4f4f4;
}

.example-topic{
    filter: blur(0.3rem);
}

.waiting-feedback{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    left: 0;
    right: 0;
    bottom: 0;
    top: 3rem;
}

.waiting-feedback p {
    font-weight: bold;
}

// ==================
// Tópicos
// ==================

.question-topic{
    padding: 15px 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    margin: 1.2rem 1rem;
}

.ops-topic-subject{
    color: #f3670c;
    font-size: 22px;
    font-weight: 500;
}

.question-author{
    font-size: 18px !important;
}

.question-description{
    margin: 10px 0;
    font-size: 20px !important;
}

.question-options{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.question-options span{
    cursor: pointer;
}

.pi-ellipsis-v{
    color: #f3670c;
}

.pi-heart-fill{
    color: white;
    background-color: #f3670c;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 2px;
}

// ==================
// Respostas de tópicos
// ==================

.answer-topic{
    margin-top: 1rem;
}

.answer{
    background-color: #fcfcfc;
    border-top: 1px solid #cccccc;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.answer-by-author{
    background-color: white;
}

.answer-by-author .answer-info{
    display: none !important;
}

.answer-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer-author{
    font-weight: 500;
    font-size: 16px;
}

.answer-info{
    color: #f3670c;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.answer-role{
    font-size: 20px;
}

.pi-check{
    font-size: 30px;
}

.answer-description {
    font-size: 22px !important;
}

// ==================
// Rodapé
// ==================

footer{
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px;
    width: fit-content;
    margin-left: -1rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 3rem;
}

.footer-image-div{
    display: flex;
    flex-direction: column;
}

.footer-image-div img{
    width: 18rem;
}

.footer-image-div a{
    background-color: #74448c;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.footer-text-div{
    color: #838383;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-text-div span{
    font-weight: 600;
    color: #6f6f6f;
}

// ==================
// Display Text
// ==================

.truncated-comment{
    cursor: pointer;
}

.truncated-comment .answered-topic{
    display: block;
}

.truncated-comment .answer-topic{
    display: none;
}
